MarkupSafe>=2.0
Unidecode==1.1.2
cachetools==3.0.0
catalogue<2.1.0,>=2.0.6
certifi>=2017.4.17
charset-normalizer~=2.0.0
click<9.0.0,>=7.1.1
cymem<2.1.0,>=2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.9
ftfy==4.4.3
html5lib==1.1
idna<4,>=2.5
ijson==2.3
jinja2
joblib>=0.13.0
jsonschema==2.6.0
langcodes<4.0.0,>=3.2.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash<1.1.0,>=0.28.0
networkx>=1.11
packaging>=20.0
pathy>=0.3.5
plac==0.9.6
pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4
pyemd>=0.3.0
pyparsing!=3.0.5,>=2.0.2
pyphen>=0.9.4
python-levenshtein>=0.12.0
requests<3.0.0,>=2.13.0
six==1.16.0
scikit-learn
smart-open<6.0.0,>=5.0.0
spacy-legacy<3.1.0,>=3.0.9
spacy-loggers<2.0.0,>=1.0.0
srsly<1.1.0,>=0.0.5
textacy==0.7.1
toolz>=0.8.0 
tqdm<5.0.0,>=4.38.0
typer<1.0.0,>=0.3.0
typing-extensions>=3.7.4.3
ujson==5.2.0
urllib3==1.26.9
wasabi<1.1.0,>=0.8.1
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.10.11
